h1{
    
    color: fuchsia;
    font-size: 50px;
    font-style: italic;
}

header{
    background-color: rgb(255, 163, 212);
    padding: 10px;
    
}
    nav li{
        display: inline;
        margin-right: 200px;
    }
    nav a{
        text-transform: uppercase;
        color:rgb(117, 31, 74);
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        
    }
    nav{
        position:absolute;
        margin-top: 20px;
        top: 10px;
        right: 0px;
    }
    
    .caixa{
        position:relative;
        width: 1080px;
        margin: 0 auto;

    }
    .logotipo{
        width: 15%;
        position: relative;
        right: 400px;
    }

    .servicos {
        width: 940px;
        margin: 0 auto;
        padding: 50px 0;
    }
    .servicos li{
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin: 0 1.5%;
        padding: 30px 0px;
        box-sizing: border-box;
    }
.servicos img{
    width: 200px;
    height: 240px;
}

.servicos h2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
}
.descricao{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
